@use '../../../styles/variables.scss' as v;
@use '../../../styles/mixins.scss' as mi;

.workspace {
  .mandatory {
    color: v.$support-red;
  }

  .section-header {
    margin: 1rem;

    .section-title {
      background: v.$gray-light;
      margin-bottom: 1rem;
      padding: 1rem;
      border-radius: 6px;
    }
  }

  .section-body {
    margin: 1rem;
    display: grid;
    grid-gap: 1.5rem;

    .section-field {
      display: flex;
      flex-flow: column nowrap;
      gap: 5px;


    }
  }

  .navigation-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    margin: 1rem;

    .link-next,
    .link-previous {
      position: relative;

      a {
        color: v.$main-medium;
        text-decoration: none;
      }

      svg {
        fill: v.$main-medium;
        width: 16px;
        height: 16px;
        position: absolute;
      }
    }

    .link-previous {
      grid-column: 1/2;
      justify-self: start;

      a {
        padding-left: 16px;
      }

      svg {
        bottom: 4px;
        left: 0;
      }
    }

    .link-next {
      grid-column: 2/-1;
      justify-self: end;

      a {
        padding-right: 16px;
      }

      svg {
        bottom: 4px;
        right: 0;
      }
    }
  }

  .steps {
    max-width: 100%;

    @include mi.mediaQuery(mi.$desktop) {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: repeat(4, auto);

      .section-body {
        grid-column: 1/2;
        grid-row: 1/2;
      }

      .navigation-links {
        grid-column: 1/2;
        grid-row: 2/3;
      }

      .components-container {
        grid-column: 2/-1;
        grid-row: 1/-1;

      }

      .btns {
        display: flex;
        padding: 1rem;
        gap: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }

    .single-step {

      svg {
        color: v.$sec-dark;
      }

      .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
        background: v.$gray-light;
        border-radius: 6px 6px 0px 0px;
      }

      .css-1174zjj-MuiPaper-root-MuiAccordion-root:last-of-type {
        border: 1px solid v.$gray-dark;
        box-shadow: none;
      }

      h4 {
        color: v.$sec-dark;
      }

      &__body {
        display: grid;
        grid-gap: 2rem;
      }

      &__inner-container {
        textarea {
          padding: .8rem;
          border: 1px solid v.$gray-dark;
          border-radius: 6px;
        }
      }

      .photo-container {
        display: flex;
        flex-flow: row wrap;
        gap: 20px;

        .photo-btn {
          width: 144.25px;
          height: 144.25px;
          border: solid 1px v.$gray-dark;
          border-radius: 6px;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;

          .label-photo {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            gap: 8px;
          }

          svg {
            width: 32px;
            height: 32px;
            color: v.$main-medium;
          }

          span {
            color: v.$main-medium;
          }

          .hidden {
            display: none;
          }
        }
      }
    }

    .add-step-btn {
      border: dashed 2px v.$main-medium;
      max-width: 100%;
      border-radius: 6px;
      font-weight: 400;
      padding: 1rem;
    }

    .components-container {

      .components {
        border-radius: 6px;
        background-color: v.$gray-light;
        padding: 2rem 1rem 3rem 1rem;
      }


      h3 {
        color: v.$sec-dark;
        margin-bottom: 1rem;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;

        .components-btn {
          width: 142px;
          height: 94px;
          background-color: white;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          border: solid 1px v.$gray-medium;
          border-radius: 6px;
          gap: 8px;

          svg {
            width: 24px;
            height: 24px;
            color: v.$sec-dark;
          }

          button {
            border: none;
            background-color: white;
            color: v.$sec-dark;
          }
        }
      }
    }
  }

  .stepsRun {
    max-width: 100%;

    .single-step {

      svg {
        color: v.$sec-dark;
      }

      .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
        background: v.$gray-light;
        border-radius: 6px 6px 0px 0px;
      }

      .css-1174zjj-MuiPaper-root-MuiAccordion-root:last-of-type {
        border: 1px solid v.$gray-dark;
        box-shadow: none;
      }

      h4 {
        color: v.$sec-dark;
      }

      &__body {
        display: grid;
        grid-gap: 2rem;
      }

      &__inner-container {
        textarea {
          padding: .8rem;
          border: 1px solid v.$gray-dark;
          border-radius: 6px;
        }
      }

      .photo-container {
        display: flex;
        flex-flow: row wrap;
        gap: 20px;

        .photo-btn {
          width: 144.25px;
          height: 144.25px;
          border: solid 1px v.$gray-dark;
          border-radius: 6px;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;

          .label-photo {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            gap: 8px;
          }

          svg {
            width: 32px;
            height: 32px;
            color: v.$main-medium;
          }

          span {
            color: v.$main-medium;
          }

          .hidden {
            display: none;
          }
        }
      }
    }

    .add-step-btn {
      border: dashed 2px v.$main-medium;
      max-width: 100%;
      border-radius: 6px;
      font-weight: 400;
      padding: 1rem;
    }

    .components-container {

      .components {
        border-radius: 6px;
        background-color: v.$gray-light;
        padding: 2rem 1rem 3rem 1rem;
      }


      h3 {
        color: v.$sec-dark;
        margin-bottom: 1rem;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;

        .components-btn {
          width: 142px;
          height: 94px;
          background-color: white;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          border: solid 1px v.$gray-medium;
          border-radius: 6px;
          gap: 8px;

          svg {
            width: 24px;
            height: 24px;
            color: v.$sec-dark;
          }

          button {
            border: none;
            background-color: white;
            color: v.$sec-dark;
          }
        }
      }
    }
  }




  .components-container {
    // .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    //   width: 1044px;
    //   height: 326px;
    //   text-align: left;
    // }
  }





}