.header-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
  color: #0765A9;
  font-size: 16px;
  font-weight: 600;
  font-family: Noto Sans;
  gap: 462px;
  ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 32px;
    align-items: center;
    li.login{
      display: flex;
      flex-flow: row nowrap;
      gap: 4px;
      .MuiAvatar-root {
        width: 24px;
        height: 24px;
        background-color: #0765A9;
      }
    }
    .demo-header{
      padding: 12px 20px;
      width: 131px;
      height: 44px;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #0765A9;
      border-radius: 6px !important;
      color: white;
      border: none;
    }

  }

}