@use '../../styles/variables.scss' as v;
@use '../../styles/mixins.scss' as mi;


.static-header{
  .header-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  // padding: 1rem 2%;
  color: v.$main-dark;
  // max-width: 1200px;
  // margin: auto;

  .logo-mobile{
    @include mi.mediaQuery(mi.$desktop){
      display: none;
    }
  }

  .logo-desktop{
    display: none;
    @include mi.mediaQuery(mi.$desktop){
      display: inline;
    }
  }

  ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 32px;
    align-items: center;
    a{
      text-decoration: none;
      color: v.$sec-dark;
    }
  }

  .site-identity{
    display: flex;
    align-items: center;
    gap: 1rem;
    h1{
      display: none;
      margin: 0;
      padding: 0;
      font-weight: 400;

      @include mi.mediaQuery(mi.$desktop){
        display: inline-block;
      }
    }
  }
  // .navigation-container{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;

    .login{
      display: flex;
      flex-flow: row nowrap;
      gap: 4px;
      .MuiAvatar-root {
        width: 24px;
        height: 24px;
        background-color: v.$main-dark;
      }
    }

    .demo-header{
      padding: 12px 20px;
      height: 44px;
      background: v.$main-dark;
      border-radius: 6px;
      color: white;
      border: none;
      a{
        text-decoration: none;
        color: white;
      }
    // }
  }
}
}
