@use '../../styles/variables.scss' as v;
@use '../../styles/mixins.scss' as mi;

.home{
  img{
    max-width: 100%;
  }
  .demo-container{
  background: linear-gradient(120deg, #0085FF, #00E0FF);
  min-height: 60vh;
  padding: 2rem 2% 3rem 2%;
  
  color: white;
  text-align: center;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;

  & .container{
    display: grid;
    align-items: center;
    margin: auto;
    max-width: 1200px;

    @include mi.mediaQuery(mi.$desktop){
      grid-template-columns: 1fr 2fr;
    }
  }

  

  h2{
    margin-bottom: 1rem;
  }


  .demo-btn-body{
    background: white;
    color: v.$main-dark;

    &:hover{
      color: v.$main-medium;
    }
  }
  .demo-description{
    order: 2;
    @include mi.mediaQuery(mi.$desktop){
      order: 0;
    }

    p{
      margin-bottom: 1.5rem;
    }
  }

  .demo-hero{
    order: 0;

    img{
      max-width: 100%;
    }
  }
}
.sign-up-container{
  background: v.$main-light;
  text-align: center;
  padding: 3rem 2%;

  h2{
    color: v.$main-dark;
  }

  .sign-un-btn{
    padding: 0 2rem;
    height: 44px;
    font-size: 14px;
    background: v.$main-dark;
    border-radius: 6px;
    border: none;
    color: white;
    margin-top: 26px;
  }
  .info-container{
    background-color: white;
  }
}
.main-feature-container{
  text-align: center;
}
  
  .main-feature-details{

    & .container{
    padding: 3rem 2%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    gap: 2rem;
    align-items: center;
    max-width: 1200px;

    @include mi.mediaQuery(mi.$desktop){
      grid-template-columns: repeat(2, 1fr);
    }
    }

    &:nth-of-type(even){
      background-color: v.$gray-lightest;
    }

    @include mi.mediaQuery(mi.$desktop){
      &:nth-child(even) .main-feature-image{
        order: 2;
      }
    }

    .main-feature-image{
      margin: auto;
    }

    .main-feature-icon{
      padding: 2rem;
    }

    h2{
      color: v.$main-dark;
    }

    p{
      padding-top: 20px;
      padding-bottom: 48px;
    }
  }
  .run-explore{
    background: v.$gray-lightest;

  }
  
  .support{
    background: v.$gray-lightest;

    h2{
      margin-top: 2rem;
    }
  }

  .sign-up{
    @include mi.mediaQuery(mi.$desktop){
      text-align: left;
    }
  }
}