@use '../../../styles/variables.scss' as v;

.sidebarDesktop {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: #063554;

    &__btn {

        color: white;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__trash {
        display: flex;
        align-items: center;
        gap: 5px;
        color: #9DB9CA;

    }


    a {
        text-decoration: none;
    }

    &__btn {

        margin-bottom: 1rem;

        & .active-sidebar {
            background-color: v.$main-dark;
            padding: 1rem .7rem;
            border-radius: 6px;
            width: 100%;

            a {
                color: white;
            }
        }

        & .inactive-sidebar {
            background-color: transparent;
            padding: 1rem .7rem;
            border-radius: 6px;
            width: 100%;

            a {
                color: v.$gray-dark;
            }
        }
    }
}

.sidebarMobile {}