@use '../../../../styles/variables.scss' as v;
@use '../../../../styles/mixins.scss' as mi;


.section-protocol-run {

  h2 {
    color: v.$sec-dark;
  }

  .description-title {
    background: #F4F7F9;
    border-radius: 6px;
    padding: 16px;
    margin-bottom: 32px;

    h4 {
      font-size: 22px;
      color: v.$sec-dark;
    }
  }

  .description-fields {
    h6 {
      font-size: 16px;
      color: v.$sec-dark;
      margin-bottom: 8px;
    }

    p {
      color: v.$sec-dark;
    }
  }

  .guidelines-title {
    background: #F4F7F9;
    border-radius: 6px;
    padding: 16px;
    margin-bottom: 32px;

    h4 {
      font-size: 22px;
    }
  }

  .guidelines-fields {
    h6 {
      font-size: 16px;
      color: v.$sec-dark;
      margin-bottom: 8px;
    }

    p {
      font-family: 'Noto Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #063554;
    }
  }

  .materials-title {
    background: #F4F7F9;
    border-radius: 6px;
    padding: 16px;
    margin-bottom: 32px;

    h4 {
      font-size: 22px;
    }
  }

  .materials-fields {
    h6 {
      font-size: 16px;
      color: v.$sec-dark;
      margin-bottom: 8px;
    }

    p {
      color: #063554;
    }
  }

  .step-run{
    padding: 2rem 2%;
  }

  .single-step{
    margin: 15px 0;

    .css-15v22id-MuiAccordionDetails-root{
      display: grid;
      grid-gap: 1rem;
    }

    &__buttons{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: start;

      &_finish{
        grid-column: 2/-1;
        justify-self: end;
      }
    }

    &__footer{
      margin-top: 2rem;
      border-top: 2px solid v.$gray-light;
      padding-top: 1rem;

      button{
        width: 100%;
        background-color: v.$main-medium;
      }
    }
  }

  .single-component{
    color: v.$sec-dark;
    padding: .7rem .5rem;
    background-color: v.$gray-light;
    border-radius: 6px;

    &__value{
      @include mi.mediaQuery(mi.$desktop){
        display: flex;
        gap: .75rem;
      }
    }

    label{
      vertical-align: bottom;
    }
  }
}