@use '../../../styles/variables.scss' as v;
@use '../../../styles/mixins.scss' as mi;

.workspace {
    @include mi.mediaQuery(mi.$desktop) {
        padding: 2rem 2rem 0 0;
    }


    h1 {
        margin-bottom: 2rem;
        color: v.$main-dark;
    }

    &__body {
        padding-top: 2rem;
        display: grid;
        justify-items: center;
    }

    button {
        border-color: v.$main-medium;
        text-transform: capitalize;

        a {
            color: v.$main-medium;
            display: flex;
            align-items: center;
            gap: 2px;
            line-height: 16px;
            padding: 4px 0;
        }
    }
    .empty-workspace{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-top: 10vw;
        color: v.$gray-dark;
        gap: 1rem;
    }
}