@use '../../styles/variables.scss' as v;
@use '../../styles/mixins.scss' as mi;

.home footer{
  .footer__container{
    @include mi.mediaQuery(mi.$desktop){
      display: flex;
      justify-content: space-between;
    }
  }
  .footer__main{
    padding: 3rem 2%;
    max-width: 1200px;
    margin: auto;
  }

  .list-container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      gap: 3rem;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding: .5rem 0;

        a {
          text-decoration: none;
          color: v.$main-dark;
        }
      }
    }
  }

  .footer__demo{
    margin-top: 2rem;
    grid-column: 1/-1;
    color: v.$main-dark;
    font-weight: 600;
  }
}
  .copy-right-container {
    background-color: v.$main-dark;
    color: white;
    padding: 1rem 2%;
    text-align: center;
  }