$text-color: #063554;

.Footer{
  height: 361px;
  width: 100%;
  background: #063554;
  .left-list {
   margin-left: 10%;
    ul {
      display: flex;
      flex-flow: row;
      li {
        list-style: none;
        :nth-child(odd){
          border-left: thin solid white;
        }
        a {
          text-decoration: none;

          padding: 0px 10px 0px 10px;
          color: white;
        }
      }
    }
  }
  .logo{
    padding-left: 10%;
    margin-top: 64px;
    }
  }
  .copy-right-container {
    background-color: $text-color;
    padding-top: 22px;
    padding-bottom: 20px;
    bottom: 0;
    width: 100%;
    p {
      margin-left: 10%;
      color: white;
    }
  }