@use './variables.scss';
@use './typography.scss';
@use './buttons.scss';
@use './mixins.scss' as mi;

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    &__navbar {
        height: 7vh;
        min-height: 60px;
        border-bottom: 2px solid grey;

        .navbar {
            padding: 1rem;
        }
    }

    &__dashboard {
        display: grid;
        height: 93vh;
        gap: 2rem;
        padding: 2rem 2%;

        @include mi.mediaQuery (mi.$desktop){
            grid-template-columns: 300px 3fr;
            padding: 2rem 0;
        }
        

        .workspace {
            // flex-basis: 70%;
            overflow-y: auto;

            &__topbar {
                display: flex;
                justify-content: space-between;
            }
        }
    }

}


.workspace {
    background-color: white;
}

.link-unactive {
    text-decoration: none;
    color: grey;

    &:hover {
        color: darken($color: grey, $amount: 50);
    }
}

.link-active {
    text-decoration: none;
    color: black;
}

// Section STEPS: components
.section-steps {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;

    ul {
        list-style-type: none;
    }
}

.section__protocols {
    display: flex;
    flex-direction: column;
}