$main-dark: #065187;
$main-medium: #249CF3;
$main-light: #F2F9FF;

$sec-dark: #063554;
$sec-medium: #7D929F;

$gray-dark: #9DB9CA;
$gray-medium: #D4DFE8;
$gray-light: #F4F7F9;
$gray-lightest: #F9FBFD;

$support-green: #52C41A;
$support-yellow: #FAAD14;
$support-red: #E24614;


